{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hillmark Bank</title>
    <!-- bootstrap css -->
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/images/favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/images/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/images/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="manifest"
      href="{% static 'assets/images/favicons/site.webmanifest' %}"
    />

    <!-- boxicon icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'account/css/sidebar.css' %}">
    <style>
        .btn:hover{
            background: #487200 !important;
            border-color: #487200;
        }
        .form-control:focus{
            box-shadow: none;
            border-color: none;
            outline: #8F00FF auto 5px;
        }
        .btn-info{
            background: #8F00FF;
            border-color: #8F00FF;
        }
    </style>
</head>
<body class="">

    {% include './sidebar.html' %}
    <section class="main-body">
        <!-- <div class="container py-5"> -->
        {% block content %}{% endblock %}
        <!-- </div> -->
    </section>

    

    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script> 

    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'account/js/script.js' %}"></script>
    
</body>
</html>