{% load humanize %}

<style>
    .card-text{
        font-size: 17px;
    }
</style>

<div class="container py-3">
    <div class="row justify-content-center align-item-center">
        <h2 class="text-center card-text bg-danger text-white py-2 ">Last 7 Transactions</h2>
        <div class="table-responsive ">
            <table class="table table-condensed">
                <thead>
                  <tr>
                    <th scope="col">Ref Number</th>
                    <th scope="col">Type</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Account Holder</th>
                    <th scope="col">Beneficiary Name</th>
                    <th scope="col">Beneficiary Bank</th>
                    <th scope="col">Beneficiary Account</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    
                    
                    
                  </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                  <tr>
                    <td>{{transaction.ref_code}}</td>
                    <td>{{transaction.transaction_type}}</td>
                    <td>{{transaction.transaction_date}} {{transaction.transaction_time}}</td>
                    <td>{{transaction.account}}</td>
                    <td>{{transaction.beneficiary_name}}</td>
                    <td>{{transaction.beneficiary_bank}}</td>
                    <td>{{transaction.beneficiary_account}}</td>
                    <td>{{transaction.account.currency}}{{transaction.amount|intcomma}}</td>
                    <td {% if transaction.status == 'Successful' %} class="text-success" {% else %}class="text-danger"{% endif %}><strong>{{transaction.status}}</strong></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>