.card-me {
    /* width: 300px; */
    height: 180px;
    position: relative;
    /* transform-style: preserve-3d; */
    transition: transform 0.6s;
    border-radius: 20px;
}

.card-me:hover {
    transform: rotateY(180deg); 
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back when not facing the viewer */
    border: 1px solid #0a0369; /* Optional border for the card */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
    border-radius: 20px;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #f0f0f0;
    transform: rotateY(180deg);
}

.card-me .card-number{
    font-size: 20px;
    text-align: center;
}

.card-number-details .card-detail-header{
    font-size: 14px;
    color: #8a0808;
    font-weight: 700;
}

.card-number-details .card-detail-small{
    font-size: 13px;
    color: #504949;
}

.card-strip {
    background-color: #333;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.card-title, .card-number, .card-holder, .card-expiry, .card-cvc, .card-strip {
    text-align: center;
    margin-top: 10px;
}