@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #a30a0a;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* transitions */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.2s ease;
  --tran-04: all 0.2s ease;
  --tran-05: all 0.2s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-04);
}

/* happens after toggle mode switch in javascript */
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #8f00ff;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-04);
  z-index: 100;
}

/* toggle of sidebar */
.sidebar.close {
  width: 88px;
}

/* reusable css */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  /* white-space: nowrap; */
  opacity: 1;
}

/* toggle of sidebar */
.sidebar.close .text {
  opacity: 0;
  font-size: 5px;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
}

.sidebar .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

/* .sidebar header .long-logo{
    width: 170px;
} */

hearder .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  color: var(--primary-color);
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

/* body.dark .sidebar li a:hover{
    background: var(--primary-color-light);
    border-radius: 5px;
} */

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

/* body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
} */

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}
body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

/* javascript toggle start here */
body.dark .switch::before {
  left: 25px;
}

/* main body place */
.main-body {
  position: relative;
  background: var(--body-color);
  height: 100vh;
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--tran-05);
}

.sidebar.close ~ .main-body {
  left: 88px;
  width: calc(100% - 88px);
}

.main-body .body-container {
  padding: 8px 40px;
}

body.dark .bg-white,
body.dark .table-white {
  background-color: #242526 !important;
}

body.dark .card-title,
body.dark .card-text,
body.dark .details-text {
  color: #fff !important;
}

/* dashobard with pics */
.details-text {
  font-size: 12px;
}

.table-condensed {
  font-size: 12px !important;
}

@media (max-width: 660px) {
  .main-body .container {
    /* display: none; */
    opacity: 0.1;
  }
  /* .sidebar.close ~ .main-body{
        display: block;   
    } */
  .sidebar.close ~ .main-body .container {
    display: block;
    opacity: 1;
  }

  .sidebar.close li .icon,
  .sidebar.close .image img {
    opacity: 0;
  }
  /* .main-body{
        display: none;
    } */
  .sidebar.close {
    width: 20px;
  }
  .sidebar.close ~ .main-body {
    left: 20px;
    width: calc(100% - 20px);
  }
}
