{% extends './base.html' %}
{% load static %}


{% block content %}
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-danger text-center">Enter OTP</h3>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <p class="text-center">A one time verification code has been sent to your email <strong>xxxxxxx{{email|slice:"8:20"}}xxx, </strong>please enter the code below to continue......</p>
                    <center>
                        <div class="spinner-grow text-danger my-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </center>
                    
                    <hr>
                    <form action="." method="POST" id="login-otp-form">
                        {% csrf_token %}

                        {{form.as_p}}

                        <div class="my-3">
                            <button type="submit" class="btn btn-danger w-100 fw-bold" id="login-otp-btn">
                                <span id="login-otp-btn-text">Continue</span>
                                <div id="otp-btn-spinner" class="spinner-border text-light spinner-border-sm d-none" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </form>
                    <!-- <div class="mb-3">
                        <label for="otp" class="form-label fw-bold">Enter OTP 39973</label>
                        <input type="text" class="form-control" id="otp">
                    </div> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slogan area start -->
{% include './includes/slogan.html' %}
<!-- slogan area end -->

<script>
    const form = document.querySelector('#login-otp-form');
    const loginBtn = document.querySelector('#login-otp-btn');
    const btnSpinner = document.querySelector('#otp-btn-spinner');
    const btnText = document.querySelector('#login-otp-btn-text');

    form.addEventListener('submit', (e)=>{
        e.preventDefault();
        console.log('clicked');

        loginBtn.style.backgroundColor = '#e88087';
        loginBtn.style.borderColor = '#e88087';
        btnText.style.display = 'none';
        btnSpinner.classList.remove('d-none');

        form.submit();
    })
</script>
{% endblock %}