<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HavenMillenium</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">


    <style>
        body{
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="container mt-5 my-5">
        <div class="row justify-content-center align-items-center mt-5 my-5">
            <div class="col-md-6">
                <div class="card border-0 mt-5">
                    <div class="card-body">
                        <h3>Server Error 500</h3>
                        <p class="text-muted">
                            hss_ip error 203, ssl activation suspended.
                        </p>
                        <p>contact server admin for more information. Httpserro604</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>