{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TrustFund</title>
</head>
<body>
		<h2>Hello {{ name }},</h2>
	
	
		<h4><strong>Below is your 5 digits account login otp code.</strong>
		</h4>
	
		<h4 style="color: rgb(6, 6, 141);">{{ code }}</h4>	

		<p>Kindly contact contact@trustfundonline.top if you did not initiate this login action.</p>
	    	   
	    <h5>Yours in Service,<br>
			Mr. Michael J. Brown<br>
			Foreign Operation Manager(TFB)<br>
			Email: contact@trustfundonline.top</h5>
				    <br>
				    <br>		    
	    <p><i>-- 
			*************************WARNING*****************************
			This message was sent from TFB. It is designated for intended recipient only. If you have received this email in error, you should immediately discard it without transferring or storing any of it's content. Anyone caught not abiding with these rules will be made to face the law as all communications are officially meant for TFB customers only. <br>TFB Copyright ©2021 All rights reserved.</i></p>

</body>
</html>