{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>TrustFund</title>
</head>
<body>
		<h2>Dear {{ name }},</h2>
	
	
		<p>This is a summary of a Debit(DR) transaction that just occured in your account with us.
		</p>
		<p><strong>Please Note: </strong> International Transactions will take between 24 to 72 hours to reflect on receiver's account while local Transfers are instant. Thank you</p>
		<div style="display: flex; justify-content: center; padding-top:10px ;">
			<div class="all">
			    <table style="font-family: Arial, Helvetica, sans-serif;
				 border-collapse: collapse;
				 width: 400px;">
					   <tr style="background-color: #aecbec; color: #000;">
					     <td style="border: 1px solid #ddd;
					     padding: 8px; background-color: #06438a; color: #fff;"><strong>Date:</strong></td>
					     <td style="border: 1px solid #ddd;
					     padding: 8px;">{{date}}</td>
					   </tr>
					   <tr style="background-color: #aecbec; color: #000;">
					     <td style="border: 1px solid #ddd;
					     padding: 8px;  background-color: #06438a; color: #fff;"><strong>Account Number:</strong></td>
					     <td style="border: 1px solid #ddd;
					     padding: 8px;">**** ***{{account_number|slice:"5:11"}}</td>
					   </tr>
					   
					   <tr style="background-color: #aecbec; color: #000;">
					     <td style="border: 1px solid #ddd;
					     padding: 8px;  background-color: #06438a; color: #fff;"><strong>Amount:</strong></td>
					     <td style="border: 1px solid #ddd;
					     padding: 8px;">{{amount|intcomma}}</td>
					   </tr>
					   <tr style="background-color: #aecbec; color: #000;">
					     <td style="border: 1px solid #ddd;
					     padding: 8px;  background-color: #06438a; color: #fff;"><strong>Transaction Type:</strong></td>
					     <td style="border: 1px solid #ddd;
					     padding: 8px;">Debit (DR)</td>
					   </tr>
					   <tr style="background-color: #aecbec; color: #000;">
						<td style="border: 1px solid #ddd;
						padding: 8px;  background-color: #06438a; color: #fff;"><strong>Balance:</strong></td>
						<td style="border: 1px solid #ddd;
						padding: 8px;"><strong>{{before_balance|intcomma}}</strong></td>
					  </tr>
                       <tr style="background-color: #aecbec; color: #000;">
					     <td style="border: 1px solid #ddd;
					     padding: 8px;  background-color: #06438a; color: #fff;"><strong>Status:</strong></td>
					     <td style="border: 1px solid #ddd;
					     padding: 8px;">{{status}}</td>
					   </tr>
					   
					   <tr style="background-color: #eff0f1; color: #000;">
					     <td style="border: 1px solid #ddd;
					     padding: 8px;  background-color: #06438a; color: #fff;"><strong>Available Balance:</strong></td>
					     <td style="border: 1px solid #ddd;
					     padding: 8px; color: green;"><strong>{{balance|intcomma}}</strong></td>
					   </tr>
					   
			 	</table>

			</div>

		</div>
		<br>
		<br>

		<p><i>-- 
			*************************WARNING*****************************
			This message was sent from TFB. It is designated for intended recipient only. If you have received this email in error, you should immediately discard it without transferring or storing any of it's content. Anyone caught not abiding with these rules will be made to face the law as all communications are officially meant for TFB customers only. <br>TFB Copyright ©2024 All rights reserved.</i></p>
	
			    	   
	    <!-- <h5>Yours in Service,<br>
			Mr. Jeremy J. Jackson<br>
			Foreign Operation Manager(TFB)<br>
			Address:96 Ernser Vista Suite 437, NY, US <br>
			Email: contact@trustwayonlinetrans.com</h5>	     -->

</body>
</html>