{% load static %}
<!--Start Deals Area-->
<section class="deals-area">
    <div class="auto-container">
      <div class="deals-content-box">
        <div
          class="owl-carousel owl-theme thm-owl__carousel deals-carousel-one owl-nav-style-one"
          data-owl-options='{
                    "loop": true,
                    "autoplay": true,
                    "margin": 50,
                    "nav": true,
                    "dots": false,
                    "smartSpeed": 500,
                    "autoplayTimeout": 10000,
                    "navText": ["<span class=\"left fa-solid fa-chevron-left\"></span>","<span class=\"right fa-solid fa-chevron-right\"></span>"],
                    "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 1
                            },
                            "992": {
                                "items": 1
                            },
                            "1550": {
                                "items": 1.4
                            }
                        }
                    }'
        >
          <!--Start Single Deals Box-->
          <div class="single-deals-box">
            <div class="text-box">
              <div class="inner-title">
                <h4>0% Installment Offers</h4>
                <h2>Travel & Hotel Offers</h2>
              </div>
              <p>
                Claims off duty or the obligations business it will
                frequently occur that pleasures be repudiated.
              </p>
              <ul>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                      
                    </div>
                    <div class="text">
                      <p>
                        Spend<br />
                        Minimum 75 US Dollar
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Spend<br />
                        Minimum 50 US Dollar
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="btns-box">
                <a class="btn-one" href="#">
                  <span class="txt">Grab Your Deals</span>
                </a>
              </div>
            </div>
            <div class="img-box">
              <div
                class="img-bg"
                style="
                  background-image: url(/static/assets/images/resources/deals-1.jpg);
                "
              ></div>
              <div class="shape-left-1"></div>
              <div class="shape-right-1"></div>
              <div class="shape-right-2"></div>
            </div>
          </div>
          <!--End Single Deals Box-->
          <!--Start Single Deals Box-->
          <div class="single-deals-box">
            <div class="text-box">
              <div class="inner-title">
                <h4>Get 10% Cashback</h4>
                <h2>Buy a Mobile Phone</h2>
              </div>
              <p>
                Claims off duty or the obligations business it will
                frequently occur that pleasures be repudiated.
              </p>
              <ul>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Spend<br />
                        Minimum 40 US Dollar
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Not Valid for<br />
                        Commercial Credit Card
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="btns-box">
                <a class="btn-one" href="#">
                  <span class="txt">Grab Your Deals</span>
                </a>
              </div>
            </div>
            <div class="img-box">
              <div
                class="img-bg"
                style="
                  background-image: url(/static/assets/images/resources/deals-2.jpg);
                "
              ></div>
              <div class="shape-left-1"></div>
              <div class="shape-right-1"></div>
              <div class="shape-right-2"></div>
            </div>
          </div>
          <!--End Single Deals Box-->

          <!--Start Single Deals Box-->
          <div class="single-deals-box">
            <div class="text-box">
              <div class="inner-title">
                <h4>0% Installment Offers</h4>
                <h2>Travel & Hotel Offers</h2>
              </div>
              <p>
                Claims off duty or the obligations business it will
                frequently occur that pleasures be repudiated.
              </p>
              <ul>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Spend<br />
                        Minimum 75 US Dollar
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Spend<br />
                        Minimum 50 US Dollar
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="btns-box">
                <a class="btn-one" href="#">
                  <span class="txt">Grab Your Deals</span>
                </a>
              </div>
            </div>
            <div class="img-box">
              <div
                class="img-bg"
                style="
                  background-image: url(/static/assets/images/resources/deals-1.jpg);
                "
              ></div>
              <div class="shape-left-1"></div>
              <div class="shape-right-1"></div>
              <div class="shape-right-2"></div>
            </div>
          </div>
          <!--End Single Deals Box-->
          <!--Start Single Deals Box-->
          <div class="single-deals-box">
            <div class="text-box">
              <div class="inner-title">
                <h4>Get 10% Cashback</h4>
                <h2>Buy a Mobile Phone</h2>
              </div>
              <p>
                Claims off duty or the obligations business it will
                frequently occur that pleasures be repudiated.
              </p>
              <ul>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Spend<br />
                        Minimum 40 US Dollar
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="inner">
                    <div class="icon">
                      <span class="fa-solid fa-check"></span>
                    </div>
                    <div class="text">
                      <p>
                        Not Valid for<br />
                        Commercial Credit Card
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="btns-box">
                <a class="btn-one" href="#">
                  <span class="txt">Grab Your Deals</span>
                </a>
              </div>
            </div>
            <div class="img-box">
              <div
                class="img-bg"
                style="
                  background-image: url(/static/assets/images/resources/deals-2.jpg);
                "
              ></div>
              <div class="shape-left-1"></div>
              <div class="shape-right-1"></div>
              <div class="shape-right-2"></div>
            </div>
          </div>
          <!--End Single Deals Box-->
        </div>
      </div>
    </div>
  </section>
  <!--End Deals Area-->