{% load static %}

<!--Start Features Style2 Area-->
<section class="features-style2-area">
    <div class="container">
      <div class="sec-title text-center">
        <h2>Emergency Service Requests</h2>
        <div class="sub-title">
          <p>List of banking service requests all in one place.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="features-style2-content">
            <!--Start Features Style2 Tab-->
            <div class="features-style2-tab">
              <!--Start Features Style2 Tab Button-->
              <div class="features-style2-tab__button">
                <ul
                  class="owl-carousel owl-theme thm-owl__carousel features-style2-carousel owl-nav-style-one tabs-button-box"
                  data-owl-options='{
                                    "loop": false,
                                    "autoplay": false,
                                    "margin": 0,
                                    "nav": true,
                                    "dots": false,
                                    "smartSpeed": 500,
                                    "autoplayTimeout": 10000,
                                    "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                    "responsive": {
                                            "0": {
                                                "items": 1
                                            },
                                            "768": {
                                                "items": 2
                                            },
                                            "992": {
                                                "items": 3
                                            },
                                            "1200": {
                                                "items": 4
                                            }
                                        }
                                    }'
                >
                  <li
                    data-tab="#tabid11"
                    class="tab-btn-item active-btn-item clearfix"
                  >
                    <div class="single-features-box-style2">
                      <div class="icon">
                        <span class="fa-brands fa-cc-visa"></span>
                      </div>
                      <div class="title">
                        <h3>
                          <a href="#"
                            >Credit / Debit Card<br />
                            Related</a
                          >
                        </h3>
                      </div>
                      <div class="arrow-button">
                        <a href="#">
                          <span class="fa-solid fa-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li data-tab="#tabid22" class="tab-btn-item clearfix">
                    <div class="single-features-box-style2">
                      <div class="icon">
                        <span class="fa-solid fa-computer"></span>
                      </div>
                      <div class="title">
                        <h3>
                          <a href="#"
                            >Mobile / Internet<br />
                            Banking</a
                          >
                        </h3>
                      </div>
                      <div class="arrow-button">
                        <a href="#">
                          <span class="fa-solid fa-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li data-tab="#tabid33" class="tab-btn-item clearfix">
                    <div class="single-features-box-style2">
                      <div class="icon">
                        <span class="fa-solid fa-book-tanakh"></span>
                      </div>
                      <div class="title">
                        <h3>
                          <a href="#"
                            >Account Details<br />
                            Changing</a
                          >
                        </h3>
                      </div>
                      <div class="arrow-button">
                        <a href="#">
                          <span class="fa-solid fa-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li data-tab="#tabid44" class="tab-btn-item clearfix">
                    <div class="single-features-box-style2">
                      <div class="icon">
                        <span class="fa-solid fa-receipt"></span>
                      </div>
                      <div class="title">
                        <h3>
                          <a href="#"
                            >Cheque Book / DD<br />
                            Related</a
                          >
                        </h3>
                      </div>
                      <div class="arrow-button">
                        <a href="#">
                          <span class="fa-solid fa-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </li>

                  <li data-tab="#tabid55" class="tab-btn-item clearfix">
                    <div class="single-features-box-style2">
                      <div class="icon">
                        <span class="fa-brands fa-cc-paypal"></span>
                      </div>
                      <div class="title">
                        <h3>
                          <a href="#"
                            >Credit / Debit Card<br />
                            Related</a
                          >
                        </h3>
                      </div>
                      <div class="arrow-button">
                        <a href="#">
                          <span class="fa-solid fa-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li data-tab="#tabid66" class="tab-btn-item clearfix">
                    <div class="single-features-box-style2">
                      <div class="icon">
                        <span class="fa-solid fa-laptop"></span>
                      </div>
                      <div class="title">
                        <h3>
                          <a href="#"
                            >Mobile / Internet<br />
                            Banking</a
                          >
                        </h3>
                      </div>
                      <div class="arrow-button">
                        <a href="#">
                          <span class="fa-solid fa-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--End Features Style2 Tab Button-->

              <!--Start Tabs Content Box-->
              <div class="tabs-content-box">
                <!--Tab-->
                <div
                  class="tab-content-box-item tab-content-box-item-active"
                  id="tabid11"
                >
                  <div class="features-style2-tab-content-box-item">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="features-style2-text-box">
                          <ul>
                            <li>
                              <a href="#">
                                Block Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Generate Debit Card Pin Number
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Unlock Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Reissue Lost Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="features-style2-banner-box">
                          <div class="text-box">
                            <div
                              class="owl-carousel owl-theme thm-owl__carousel features-style2-banner-carousel owl-dot-style2"
                              data-owl-options='{
                                                            "loop": true,
                                                            "autoplay": false,
                                                            "margin": 0,
                                                            "nav": false,
                                                            "dots": true,
                                                            "smartSpeed": 500,
                                                            "autoplayTimeout": 10000,
                                                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                                            "responsive": {
                                                                    "0": {
                                                                        "items": 1
                                                                    },
                                                                    "768": {
                                                                        "items": 1
                                                                    },
                                                                    "992": {
                                                                        "items": 1
                                                                    },
                                                                    "1200": {
                                                                        "items": 1
                                                                    }
                                                                }
                                                            }'
                            >
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                            </div>
                          </div>
                          <div class="img-box">
                            <div
                              class="img-box-bg"
                              style="
                                background-image: url(assets/images/resources/features-style2-banner-1.jpg);
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="tabid22">
                  <div class="features-style2-tab-content-box-item">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="features-style2-text-box">
                          <ul>
                            <li>
                              <a href="#">
                                Mobile / Internet Banking
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Generate Debit Card Pin Number
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Unlock Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Reissue Lost Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="features-style2-banner-box">
                          <div class="text-box">
                            <div
                              class="owl-carousel owl-theme thm-owl__carousel features-style2-banner-carousel owl-dot-style2"
                              data-owl-options='{
                                                            "loop": true,
                                                            "autoplay": false,
                                                            "margin": 0,
                                                            "nav": false,
                                                            "dots": true,
                                                            "smartSpeed": 500,
                                                            "autoplayTimeout": 10000,
                                                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                                            "responsive": {
                                                                    "0": {
                                                                        "items": 1
                                                                    },
                                                                    "768": {
                                                                        "items": 1
                                                                    },
                                                                    "992": {
                                                                        "items": 1
                                                                    },
                                                                    "1200": {
                                                                        "items": 1
                                                                    }
                                                                }
                                                            }'
                            >
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                            </div>
                          </div>
                          <div class="img-box">
                            <div
                              class="img-box-bg"
                              style="
                                background-image: url(assets/images/resources/features-style2-banner-2.jpg);
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="tabid33">
                  <div class="features-style2-tab-content-box-item">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="features-style2-text-box">
                          <ul>
                            <li>
                              <a href="#">
                                Account Details Changing
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Unlock Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Generate Debit Card Pin Number
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Reissue Lost Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="features-style2-banner-box">
                          <div class="text-box">
                            <div
                              class="owl-carousel owl-theme thm-owl__carousel features-style2-banner-carousel owl-dot-style2"
                              data-owl-options='{
                                                            "loop": true,
                                                            "autoplay": false,
                                                            "margin": 0,
                                                            "nav": false,
                                                            "dots": true,
                                                            "smartSpeed": 500,
                                                            "autoplayTimeout": 10000,
                                                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                                            "responsive": {
                                                                    "0": {
                                                                        "items": 1
                                                                    },
                                                                    "768": {
                                                                        "items": 1
                                                                    },
                                                                    "992": {
                                                                        "items": 1
                                                                    },
                                                                    "1200": {
                                                                        "items": 1
                                                                    }
                                                                }
                                                            }'
                            >
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                            </div>
                          </div>
                          <div class="img-box">
                            <div
                              class="img-box-bg"
                              style="
                                background-image: url(assets/images/resources/features-style2-banner-3.jpg);
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="tabid44">
                  <div class="features-style2-tab-content-box-item">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="features-style2-text-box">
                          <ul>
                            <li>
                              <a href="#">
                                Cheque Book / DD Related
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Reissue Lost Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Unlock Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Generate Debit Card Pin Number
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="features-style2-banner-box">
                          <div class="text-box">
                            <div
                              class="owl-carousel owl-theme thm-owl__carousel features-style2-banner-carousel owl-dot-style2"
                              data-owl-options='{
                                                            "loop": true,
                                                            "autoplay": false,
                                                            "margin": 0,
                                                            "nav": false,
                                                            "dots": true,
                                                            "smartSpeed": 500,
                                                            "autoplayTimeout": 10000,
                                                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                                            "responsive": {
                                                                    "0": {
                                                                        "items": 1
                                                                    },
                                                                    "768": {
                                                                        "items": 1
                                                                    },
                                                                    "992": {
                                                                        "items": 1
                                                                    },
                                                                    "1200": {
                                                                        "items": 1
                                                                    }
                                                                }
                                                            }'
                            >
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                            </div>
                          </div>
                          <div class="img-box">
                            <div
                              class="img-box-bg"
                              style="
                                background-image: url(assets/images/resources/features-style2-banner-4.jpg);
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="tabid55">
                  <div class="features-style2-tab-content-box-item">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="features-style2-text-box">
                          <ul>
                            <li>
                              <a href="#">
                                Cheque Book / DD Related
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Reissue Lost Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Unlock Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Generate Debit Card Pin Number
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="features-style2-banner-box">
                          <div class="text-box">
                            <div
                              class="owl-carousel owl-theme thm-owl__carousel features-style2-banner-carousel owl-dot-style2"
                              data-owl-options='{
                                                            "loop": true,
                                                            "autoplay": false,
                                                            "margin": 0,
                                                            "nav": false,
                                                            "dots": true,
                                                            "smartSpeed": 500,
                                                            "autoplayTimeout": 10000,
                                                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                                            "responsive": {
                                                                    "0": {
                                                                        "items": 1
                                                                    },
                                                                    "768": {
                                                                        "items": 1
                                                                    },
                                                                    "992": {
                                                                        "items": 1
                                                                    },
                                                                    "1200": {
                                                                        "items": 1
                                                                    }
                                                                }
                                                            }'
                            >
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                            </div>
                          </div>
                          <div class="img-box">
                            <div
                              class="img-box-bg"
                              style="
                                background-image: url(assets/images/resources/features-style2-banner-1.jpg);
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Tab-->
                <div class="tab-content-box-item" id="tabid66">
                  <div class="features-style2-tab-content-box-item">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="features-style2-text-box">
                          <ul>
                            <li>
                              <a href="#">
                                Cheque Book / DD Related
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Reissue Lost Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Unlock Debit / ATM Card
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                Generate Debit Card Pin Number
                                <span class="icon-right-arrow"></span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="features-style2-banner-box">
                          <div class="text-box">
                            <div
                              class="owl-carousel owl-theme thm-owl__carousel features-style2-banner-carousel owl-dot-style2"
                              data-owl-options='{
                                                            "loop": true,
                                                            "autoplay": false,
                                                            "margin": 0,
                                                            "nav": false,
                                                            "dots": true,
                                                            "smartSpeed": 500,
                                                            "autoplayTimeout": 10000,
                                                            "navText": ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                                                            "responsive": {
                                                                    "0": {
                                                                        "items": 1
                                                                    },
                                                                    "768": {
                                                                        "items": 1
                                                                    },
                                                                    "992": {
                                                                        "items": 1
                                                                    },
                                                                    "1200": {
                                                                        "items": 1
                                                                    }
                                                                }
                                                            }'
                            >
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                              <!--Start Single Item-->
                              <div class="single-item">
                                <span class="icon-headphones"></span>
                                <h4>Call for</h4>
                                <h3>Private Banking</h3>
                                <h2>
                                  <a href="tel:2512353256"
                                    >+8 (222) 123 456 78</a
                                  >
                                </h2>
                              </div>
                              <!--End Single Item-->
                            </div>
                          </div>
                          <div class="img-box">
                            <div
                              class="img-box-bg"
                              style="
                                background-image: url(assets/images/resources/features-style2-banner-1.jpg);
                              "
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Tabs Content Box-->
            </div>
            <!--End Features Style2 Tab-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Features Style2 Area-->