{% load static %}
<!--Start Money Exchange Rates Area-->
<section class="money-exchange-value-area">
    <div
      class="money-exchange-value-area-bg"
      style="
        background-image: url(/static/assets/images/backgrounds/money-exchange-value.jpg);
      "
    ></div>
    <div class="container">
      <div class="sec-title text-center">
        <h2>Foreign Exchange Rates</h2>
        <div class="sub-title">
          <p>Denouncing pleasure & praising pain was born.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="money-exchange-value-tab">
            <!--Start Money Exchange Value Tab Button-->
            <div class="money-exchange-value-tab__button">
              <ul class="tabs-button-box">
                <li
                  data-tab="#money-send-receive"
                  class="tab-btn-item active-btn-item"
                >
                  <h3>Money Send & Receive</h3>
                </li>
                <li data-tab="#load-redeem-forex-card" class="tab-btn-item">
                  <h3>Load & Redeem Forex Card</h3>
                </li>
              </ul>
              <div class="right">
                <a href="/"
                  ><span class="fa-solid fa-bars"></span>Click to Get Assistant</a
                >
              </div>
            </div>
            <!--End Money Exchange Value Tab Button-->

            <!--Start Tabs Content Box-->
            <div class="tabs-content-box">
              <!--Tab-->
              <div
                class="tab-content-box-item tab-content-box-item-active"
                id="money-send-receive"
              >
                <div class="money-exchange-value-tab-content-box-item">
                  <div class="row">
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-1.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>usd</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>79.89</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>76.54</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-2.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>sek</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>8.20</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>7.25</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-3.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>gbp</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>101.88</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>96.55</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-4.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>jpy</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>62.82</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>58.46</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-5.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>aud</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>57.52</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>54.21</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-6.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>cad</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>63.41</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>59.75</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                  </div>
                </div>
              </div>

              <!--Tab-->
              <div class="tab-content-box-item" id="load-redeem-forex-card">
                <div class="money-exchange-value-tab-content-box-item">
                  <div class="row">
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-4.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>jpy</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>62.82</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>58.46</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-5.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>aud</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>57.52</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>54.21</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-6.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>cad</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>63.41</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>59.75</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-1.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>usd</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>79.89</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>76.54</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-2.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>sek</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>8.20</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>7.25</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                    <!--Start Single Money Exchange Value-->
                    <div class="col-xl-2 col-lg-4 col-md-4">
                      <div class="single-money-exchange-value">
                        <div class="flag-box">
                          <div class="flag-box-inner">
                            <img
                              src="{% static 'assets/images/resources/flag-3.png' %}"
                              alt=""
                            />
                          </div>
                        </div>
                        <h3>gbp</h3>
                        <ul>
                          <li>
                            <div class="left">
                              <p>Send</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>101.88</p>
                            </div>
                          </li>
                          <li>
                            <div class="left">
                              <p>Receive</p>
                              <span>:</span>
                            </div>
                            <div class="right">
                              <p>96.55</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!--End Single Money Exchange Value-->
                  </div>
                </div>
              </div>
            </div>
            <!--End Tabs Content Box-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Money Exchange Rates Area-->