{% load static %}
<!--Start Faq Style1 Area-->
<section class="faq-style1-area" id="faq-neph">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="faq-style1-title">
            <div class="sec-title">
              <h2>Questions & Answers</h2>
              <div class="sub-title">
                <p>Find answers to all your queries about our service.</p>
              </div>
            </div>
            <div class="faq-search-box">
              <h3>Help You to Find</h3>
              <div class="faq-search-box__inner">
                <form class="search-form" action="#">
                  <input placeholder="Related Keyword..." type="text" />
                  <button type="submit">
                    <i class="icon-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6">
          <div class="faq-style1__image">
            <div class="inner">
              <img
                src="{% static 'assets/images/resources/faq-style1__image.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="faq-style1__content">
            <ul class="accordion-box">
              <li class="accordion block active-block">
                <div class="acc-btn active">
                  <div class="icon-outer">
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                  <h3>What is the minimum balance?</h3>
                </div>
                <div class="acc-content current">
                  <p>
                    The minimum balance is $10 for personal account, $100 for business account and $1000 for offshore account.
                  </p>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <i class="fa-solid fa-arrow-up"></i>
                  </div>
                  <h3>What is the rate of interest?</h3>
                </div>
                <div class="acc-content">
                  <p>
                    The interest rate depends on so many factors, you can reach out to customer service to learn more about this topic.
                  </p>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                  <h3>When will I receive my account statement?</h3>
                </div>
                <div class="acc-content">
                  <p>
                    Rationally encounter consequences that are extremely
                    painful again there anyone who loves or pursues desire.
                  </p>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                  <h3>Can I use any branch across the world?</h3>
                </div>
                <div class="acc-content">
                  <p>
                    Rationally encounter consequences that are extremely
                    painful again there anyone who loves or pursues desire.
                  </p>
                </div>
              </li>
              <li class="accordion block">
                <div class="acc-btn">
                  <div class="icon-outer">
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                  <h3>How safe/secure is our net banking a/c?</h3>
                </div>
                <div class="acc-content">
                  <p>
                    Rationally encounter consequences that are extremely
                    painful again there anyone who loves or pursues desire.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xl-12">
          <div class="faq-style1-bottom-box text-center">
            <p>
              Didn't get, Click below button to more anwers or
              <a href="#">contact us.</a>
            </p>
            <div class="btns-box">
              <a class="btn-one" href="#">
                <span class="txt">Grab Your Deals</span>
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <!--End Faq Style1 Area-->