<!--Start Footer Top-->
<div class="footer-top">
    <div class="lef-shape">
      <span class="icon-origami"></span>
    </div>
    <div class="container">
      <div class="row">
        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
          <div
            class="single-footer-widget single-footer-widget--link-box"
          >
            <div class="title">
              <h3>Loans</h3>
            </div>
            <div class="footer-widget-links">
              <ul>
                <li><a href="#">Home Loan</a></li>
                <li><a href="#">Car Loan</a></li>
                <li><a href="#">Two Wheeler Loan</a></li>
                <li><a href="#">Commercial Vehicle Loan</a></li>
                <li><a href="#">Personal Loan</a></li>
                <li><a href="#">Tractor Loan</a></li>
                <li><a href="#">Construction Loan</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->
        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
          <div
            class="single-footer-widget single-footer-widget--link-box"
          >
            <div class="title">
              <h3>Rates & Charges</h3>
            </div>
            <div class="footer-widget-links">
              <ul>
                <li><a href="#">Interest Rates</a></li>
                <li><a href="#">Gold Rate Today</a></li>
                <li><a href="#">Service Charges & Fees</a></li>
              </ul>
            </div>
          </div>
          <div
            class="single-footer-widget single-footer-widget--link-box-style2"
          >
            <div class="title">
              <h3>Online</h3>
            </div>
            <div class="footer-widget-links">
              <ul>
                <li><a href="#">Mobile Banking</a></li>
                <li><a href="#">Internet Banking</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
          <div
            class="single-footer-widget single-footer-widget--link-box"
          >
            <div class="title">
              <h3>About Us</h3>
            </div>
            <div class="footer-widget-links">
              <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Board of Directors</a></li>
                <li><a href="#">Management Committee</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Awards & Recognition</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
          <div
            class="single-footer-widget single-footer-widget--link-box"
          >
            <div class="title">
              <h3>Services</h3>
            </div>
            <div class="footer-widget-links">
              <ul>
                <li><a href="#">Savings Account</a></li>
                <li><a href="#">Current Account</a></li>
                <li><a href="#">Deposits</a></li>
                <li><a href="#">Cards</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">Locker Facility</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->
      </div>
    </div>
  </div>
  <!--End Footer Top-->