{% load static %}
<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
      <div class="slogan-content-box">
        <div
          class="slogan-content-box-bg"
          style="
            background-image: url(/static/assets/images/backgrounds/slogan-content-box-bg.jpg);
          "
        ></div>
        <div class="inner-title">
          <h2>Experience a New Digital World.</h2>
          <p>Mobile banking application with new & exciting features.</p>
        </div>
        <!-- <div class="get-app-box">
          <ul>
            <li>
              <a href="#">
                <div class="icon">
                  <span class="icon-play-store"></span>
                </div>
                <div class="text">
                  <h4>Download</h4>
                </div>
              </a>
            </li>
            <li>
              <a class="style2" href="#">
                <div class="icon">
                  <span class="icon-apple"></span>
                </div>
                <div class="text">
                  <h4>Download</h4>
                </div>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </section>
  <!--End slogan area-->