{% load static %}
<!--Start Wealth Secure Area-->
<section class="wealth-secure-area">
    <div class="container">
      <div class="sec-title text-center">
        <h2>Grow Your Wealth Secure</h2>
        <div class="sub-title">
          <p>Don't just make a deposit, make an investment today.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div
            class="owl-carousel owl-theme thm-owl__carousel wealth-secure-carousel-2 owl-nav-style-one"
            data-owl-options='{
                        "loop": true,
                        "autoplay": true,
                        "margin": 30,
                        "nav": false,
                        "dots": true,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"left fa-solid fa-chevron-right\"></span>","<span class=\"right fa-solid fa-chevron-right\"></span>"],
                        "responsive": {
                                "0": {
                                    "items": 1
                                },
                                "768": {
                                    "items": 2
                                },
                                "992": {
                                    "items": 3
                                },
                                "1200": {
                                    "items": 4
                                }
                            }
                        }'
          >
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-1.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Trade FX</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Beguiled and demoralized by charms pleasure of the moment
                  so blinded by they cannot and trouble.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style2">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-2.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Multi Currency a/c</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Cases are perfectly simple & easy to distinguish in a free
                  hour when power of choice is prevents.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style3">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-3.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Mutual Funds</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  The claims off duty or the obligations business it will
                  frequently occur that pleasures be repudiated.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style4">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-4.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Pension Scheme</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Beguiled and demoralized by charms pleasure of the moment
                  so blinded by they cannot and trouble.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->

            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-1.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Trade FX</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Beguiled and demoralized by charms pleasure of the moment
                  so blinded by they cannot and trouble.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style2">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-2.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Multi Currency a/c</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Cases are perfectly simple & easy to distinguish in a free
                  hour when power of choice is prevents.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style3">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-3.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Mutual Funds</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  The claims off duty or the obligations business it will
                  frequently occur that pleasures be repudiated.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style4">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-4.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Pension Scheme</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Beguiled and demoralized by charms pleasure of the moment
                  so blinded by they cannot and trouble.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->

            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-1.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Trade FX</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Beguiled and demoralized by charms pleasure of the moment
                  so blinded by they cannot and trouble.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style2">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-2.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Multi Currency a/c</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Cases are perfectly simple & easy to distinguish in a free
                  hour when power of choice is prevents.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style3">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-3.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Mutual Funds</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  The claims off duty or the obligations business it will
                  frequently occur that pleasures be repudiated.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
            <!--Start Single Wealth Secure Box-->
            <div class="single-wealth-secure-box style4">
              <div class="img-box">
                <div class="img-box-inner">
                  <img
                    src="{% static 'assets/images/resources/wealth-secure-4.jpg' %}"
                    alt=""
                  />
                </div>
                <div class="inner-title">
                  <div class="arrow-top"></div>
                  <div class="arrow-bottom"></div>
                  <h3><a href="#">Pension Scheme</a></h3>
                  <div class="right-arrow-btn">
                    <a href="#"><span class="fa-solid fa-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <p>
                  Beguiled and demoralized by charms pleasure of the moment
                  so blinded by they cannot and trouble.
                </p>
              </div>
            </div>
            <!--End Single Wealth Secure Box-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Wealth Secure Area-->