<section id="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3 text-start">
                <h6>Information</h6>
                <p><i class="bi bi-envelope-check me-2"></i>customerservice@hmb-online.com</p>
                <!-- <p><i class="bi bi-geo-alt me-2"></i>No 26 chinenye nenye nwa street olugoni lagos</p> -->
                <p><i class="bi bi-telephone-forward me-2"></i>+1 301 882-2083</p>
                
            </div>
            <div class="col-md-3 text-start">
                <h6>Customer Services</h6>
                <a href="">Help Center</a><br>
                <a href="">FAQ</a><br>
                <a href="">Contact us</a><br>
                <a href="">Private Service</a><br>
                <a href="">Customer Care</a>
            </div>
            <div class="col-md-3 text-start">
                <h6>Protect Yourself</h6>
                <a href="">Contact Us</a><br>
                <a href="">About Us</a><br>
                <a href="">Internet Services</a><br>
                <a href="">Security</a><br>
                <a href="">Online Security</a>
            </div>
            <div class="col-md-3 text-start">
                <h6>Quick Links</h6>
                <a href="">Sign In</a><br>
                <a href="">Contact Us</a><br>
                <a href="">About Us</a><br>
                <a href="">FAQ</a><br>
                <a href="">Contact us</a><br>
                <!-- <div id="google_translate_element"></div> -->
            </div>
            
        </div>
        <hr class="divider">
        <p class="text-center">Copyright &copy;2023 All Rights Reserved | Hillmark Offshore Services</p>
    </div>
</section>