{% extends './base.html' %}

{% load static%}

{% block content %}


<section id="register-form">
    <div class="container py-5">
      <div class="row justify-content-center align-item-center pt-5">
        <div class="col-md-8">
          <div class="card shadow rounded">
            <center>
              <img src="{% static 'frontend/img/logo-new.png' %}" alt="" style="width: 300px; padding: 30px 0;">
            </center>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-warning alert-dismissible fade show mx-3" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
            {% endif %}

            {% if form2.non_field_errors %}
                {% for error in form2.non_field_errors %}
                <div class="alert alert-warning alert-dismissible fade show mx-3" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
            {% endif %}
            
            <div class="card-body mx-3">
              <h3 class="mb-3">Open An Account</h3>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
              <hr>

              <form action="." method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="text-white fw-bold">Please correct the following errors:</p>
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-primary" role="alert">
                            {{ field.label }}: {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if form2.errors %}
                    <p class="text-white fw-bold">Please correct the following errors:</p>
                    {% for field in form2 %}
                        {% if field.errors %}
                        <div class="alert alert-primary" role="alert">
                            {{ field.label }}: {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="{{ form.first_name.id_for_label}}" class="form-label fw-bold">First Name</label>
                            {{form.first_name}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="{{ form.last_name.id_for_label}}" class="form-label fw-bold">Last Name</label>
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label}}" class="form-label fw-bold">Email</label>
                            {{form.email}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label}}" class="form-label fw-bold">Password</label>
                            {{form.password1}}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label}}" class="form-label fw-bold">Repeat Password</label>
                            {{form.password2}}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="{{ form2.country.id_for_label}}" class="form-label fw-bold">Country</label>
                            {{form2.country}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="{{ form2.postal_code.id_for_label}}" class="form-label fw-bold">Postal Code</label>
                            {{form2.postal_code}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="{{ form2.city.id_for_label}}" class="form-label fw-bold">City</label>
                            {{form2.city}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="{{ form2.currency.id_for_label}}" class="form-label fw-bold">Currency</label>
                            {{form2.currency}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="{{ form2.account_type.id_for_label}}" class="form-label fw-bold">Account Type</label>
                            {{form2.account_type}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="{{ form2.transfer_pin.id_for_label}}" class="form-label fw-bold">Transfer Pin</label>
                            {{form2.transfer_pin}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="{{ form2.street_address.id_for_label}}" class="form-label fw-bold">Address</label>
                            {{form2.street_address}}
                        </div>
                    </div>
                </div>
                
                
                
                <div class="mb-3">
                  <input type="submit" value="Register" class="btn btn-brand w-100 fw-bold">
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock%}