{% load static %}

<section id="services">
    <div class="container py-5">
        <div class="row pt-4">
            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/phone.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Open an Account instantly</h5>
                      <p class="card-text text-muted">
                        Need an account? Open an account for your business, your child or yourself in minutes
                      </p>
                      <!-- <a href="" class="text-danger fw-bold">Click here to start<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/offshore.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Offshore Banking Services</h5>
                      <p class="card-text text-muted">
                        We provide you with a very secured offshore online account that is fast and flexible
                      </p>
                      <!-- <a href="" class="text-danger fw-bold">Click here to start<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/loan.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Quick Credit</h5>
                      <p class="card-text text-muted">Get up to $100,000 in credit and payback in 6-12months. 1.8% of motnhly interest rate</p>
                      <!-- <a href="" class="text-danger fw-bold">Get started now<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/customer-service.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Help Center</h5>
                      <p class="card-text text-muted">Skip the queues and get all the answers you need right now from your phone. Log your dispense errors from your banking app</p>
                      <!-- <a href="" class="text-danger fw-bold">Get started now<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/happy.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Earn Up To $2,000</h5>
                      <p class="card-text text-muted">Open a new eligible checking account and earn a cash bonus with required activities. Member FDIC.</p>
                      <!-- <a href="" class="text-danger fw-bold">Get started now<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>
            

            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/invest.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Invest with $0 Commision</h5>
                      <p class="card-text text-muted">Take control with self-directed trading from Citi Personal Wealth Management.</p>
                      <!-- <a href="" class="text-danger fw-bold">Get started now<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/credit-card.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Choose the right credit card for you</h5>
                      <p class="card-text text-muted">Whether you want Cash Back, Great Airline Miles, Rewards for Costco Members, or a Low Intro Rate, the choice is all yours.</p>
                      <!-- <a href="" class="text-danger fw-bold">Get started now<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card border-light h-100">
                    <img src="{% static 'frontend/img/college.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Get College Ready</h5>
                      <p class="card-text text-muted">We provide resources to help you plan and pay for your college</p>
                      <!-- <a href="" class="text-danger fw-bold">Get started now<i class="bi bi-chevron-double-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>