{% extends '../base.html' %}

{% load static%}

{% block content %}


<section id="login-form">
    <div class="container py-5">
      <div class="row justify-content-center align-item-center">
        <div class="col-md-6">
          <div class="card shadow rounded bg-white">
            <!-- <center>
              <img src="{% static 'frontend/img/logo-new.png' %}" alt="" style="width: 300px; padding: 30px 0;">
            </center> -->
            <div class="card-body mx-3">
              <h3 class="mb-3 card-text">Contact Our Customer Care</h3>
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}
              <hr>

            <form action="." method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="name" class="form-label  card-text">Full Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label  card-text">Email</label>
                  <input type="email" name="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                  <label for="subject" class="form-label  card-text">Subject</label>
                  <input type="text" name="subject" class="form-control" id="subject">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label  card-text">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                  </div>


                <div class="mb-3">
                  <input type="submit" value="Send" class="btn btn-info w-100 fw-bold text-white">
                </div> 
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock%}